* {
    font-family: 'Tenor Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: rgba(224, 224, 224, 0.69);
}

textarea {
    resize: none;
}


.invisible {
    display: none !important;
}
.right-alignment {
    float: right;
}

.grid-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-gap: 20px;
}

.grid-container-full {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap:5px;

}

.grid-container-cols-3 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap:30px;
    grid-column-gap: 10%;
    padding:3px 20px;
}

/*NAVIGATION*/
a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

nav {
    height: 100vh;
    background: rgba(12, 13, 33, 0.9);
}

nav ul {
    width: 100%;
}

nav ul li {
    list-style: none;
    background: rgba(2, 2, 28, 0.82);
}

nav ul li a, nav ul li a:visited {
    border-bottom: 1px solid #bfbfbf;;
    padding: 10px;
    display: block;
    color: #787878;

}

nav ul li a:hover {
    color: #e6e6e6;
}

/*TABLE*/
.table-section {
    margin: 20px;
}
table {
    width: 100%;
    margin-top: 10px;
    background: #ffffff;
}

table, th, td {
    border: 1px solid rgba(11, 11, 11, 0.25);
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

.table-row-clicked {
    background:#d9e7d9
}

button {
    background: #2196F3;
    border-radius: 10px;
    border: none;
    padding: 10px;
    color: #353634;
}

button:hover {
    curcusor: pointer;
}

/*Form edit*/
.form-design .grid-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto;
}

.form-design {
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    width: 70%;
    height: max-content;
    margin: 20px auto;
}

.form-head {
    border-bottom: 1px solid grey;
    padding: 10px 20px;
}

.form-head-embeded h1 {
    color: #4649c1;

    font-size: 22px;
    border-top: 1px solid #333;
    max-width: max-content;
    margin-left: 20px;
    padding-left: 0;
    padding-top: 10px;
    margin-bottom: 10px;
    min-width: 135px;

}

.form-head h1 {
    color: #4649c1;
    font-size: 2.5em;
}

.form-design input[type=checkbox] {
    height: 20px;
    width: 20px;
}

.form-design .form-input input[type=text], .form-input input[list] {
    width: 97%;
}

.form-design .form-input textarea {
    width: 100%;
    margin-bottom: 10px;
}

.form-design p {
    font-size: 1.1em;
}

.form-input input[type=text], .form-input input[list] {
    padding-left: 10px;
    height: 30px;
}

.save_button {
    display: block;
    background: #67a46d;
    border-radius: 6px;
    border: none;
    margin-top: 10px;
    padding: 8px 12px;
    color: #ffffff;
}



.save_button:hover {
    cursor: pointer;
    background: #76b97c;
}

.form-design .form-name p {
    float: right;
    width: 100%;
}

.vertical-alignment {
    line-height: 30px;
}




i {
    font-size: 25px;
}
.icon-trash-empty, .icon-edit, .icon-doc-add {
    color:#444;
}

.icon-trash-empty:hover {
    color:#ec5d5d;
}

.icon-doc-add {
    font-size:28px;
}

.icon-doc-add:hover {
    color: #00ae00;
}

.icon-edit:hover {
    color: #7dd17d;
}

.icons_table:active, .icons_table:visited {
    color: #2a2a2a;
}


table th {
    background: #434343;
    color:#a9a9a9;
}

.page_title {
    font-weight: bold;
    font-size:24px;
    margin-bottom:15px;
    border-bottom:2px solid #787878;
}

/*сообщения пользователю*/
.message{
    height:fit-content;
    width:98%;
    background-color: #dddddd;
    padding: 10px 0 10px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    margin:10px 0;
}

.message:hover{
    margin-bot: 5px;
    padding: 13px 0 13px 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.message:hover .message-exit{
    margin-top: -7px;
}

.message-container {
    display: grid;
    grid-template-columns: 1fr 30px;
}
.message-text{
    cursor: default;
    float: left;
}
.message-exit{
    float: right;
    height: 20px;
    margin-top: -5px;
}
.message-exit:hover{
    cursor: pointer;
    color: #ec5d5d;
}

.warning{
    background-color: #fdb544;
}

.error {
    background-color: #ec5d5d;
}
/*конец сообщения пользователю*/


footer {
    position: relative;
    z-index: 999;
    height: 30px;
    line-height: 30px;
    width: 100%;
    background: #2196F3;
    text-align: center;
    margin-top: -5px;
}