* {
    margin:0;
    padding:0;
}
body {
    background: rgba(224, 224, 224, 0.69);
}
.grid-container {
    display: grid;
    grid-template-columns: 11% auto;
    grid-gap: 20px;
    padding:10px;
}
header {
    height:60px;
    width: 100%;
    background: #2196F3;
}

nav {
    width:90%;
    padding:10px;
    height:100vh;
    background: #c8d2f3;
}

nav ul li {
    list-style: none;
}
table {
    width:100%;
    margin-top:10px;
    background: #d1ebf3;
}
table, th, td {
    border: 1px solid rgba(11, 11, 11, 0.25);
    border-collapse: collapse;
    padding:10px;
    text-align: center;
}

.table-row-clicked{
    background: green;
}
button {
    background: #2196F3;
    border-radius: 10px;
    border: none;
    padding:10px;
    color: #353634;
}
button:hover {
    cursor: pointer;
}
footer {
    position:relative;
    z-index:999;
    height:30px;
    width: 100%;
    background: #2196F3;
    text-align: center;
}